# General
.DS_Store
node_modules/
npm-debug.log

# Production build
/build/
/dist/

# Environment variables
.env

# IDE and editor files
.vs/
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock
