/* Navbar styles */
.navbar {
  background-color: #333; /* Navbar background color */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above other content */
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2; /* Navbar link color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; /* Navbar link font size */
}

.navbar a:hover {
  background-color: #ddd; /* Navbar link hover background color */
  color: black; /* Navbar link hover color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('/data/img/backgrounds/space-ultimate.png'); /* Set your desired background color */
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: black; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; /* Added to position footer */
}

/* AI-powered graphics section */
.graphics-container {
  text-align: center;
}

/* AI-generated image (replace with your own) */
.ai-image {
  max-width: 100%;
  height: auto;
}

/* Call-to-action button */
.cta-button {
  margin-top: 20px;
  background-color: #ff4500; /* Customize button color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ff6347; /* Hover color */
}

/* Footer styles */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Translucent black color */
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.copyright {
  font-size: 14px;
}

abc {
  text-decoration: none;
  color: lightskyblue;
}
