body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #791041, #f1af21);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures full viewport height */
    margin: 0; /* Removes default margin */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

form {
    margin-top: 20px;
}

#result img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0782d4; /* Green background color */
    border: none; /* Remove border */
    color: white; /* White text */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Larger font size */
    border-radius: 20px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.button:hover {
    background-color: #066caf; /* Darker green on hover */
}
